.fondo_rojo{
    color: white;
    font-weight: bold;
    background-color: red;
}
.fondo_azul{
    color: white;
    font-weight: bold;
    background-color: blue;
}
.fondo_verde{
    color: white;
    font-weight: bold;
    background-color: green;
}
.fondo_amarillo{
    color: white;
    font-weight: bold;
    background-color: yellow;
}


